html,
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

#container-extension * {
    box-sizing: border-box;
}

#container-extension {
    position: relative;
    display: block;
    width: 400px;
    height: 100%;
}

.stream {
    position: relative;
    height: 95px;
    background-color: #2B2F38;
    color: #fff;
    opacity: 0;
    transition: all .3s ease-out;
    padding: 5px 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.stream:hover {
    background-color: #EAEAE9;
    color: #212121;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.stream a {
    text-decoration: none;
    color: #00b6ff;
}

.stream a:visited {
    color: #00b6ff;
}

.stream a:active {
    color: #00b6ff;
}

.stream a:hover {
    color: #0288D1;
}

.stream span {
    display: block;
    width: 70%;
}

.stream-title {
    font-size: 14px;
    font-weight: bold;
}

.loading {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2B2F38;
}

#select-broadcaster-language {
    display: inline-block;
    background-color: #2B2F38;
    color: #00b6ff;
    padding: 10px;
    width: 100%;
    margin-right: 5px;
    outline: none;
    border: 0;
}

#select-broadcaster-language option:disabled {
    color: #00b6ff;
}

#option-icon {
    cursor: pointer;
    color: #0298ea;
    margin-right: 5px;
    transition: all .3s ease-out;
}

#option-icon:hover {
    color: #35BAF6;
}

#option-popup {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2B2F38;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-out;
}

#close-popup {
    cursor: pointer;
    z-index: -1;
    color: #0298ea;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}

.stream-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    right: 10px;
    top: 20px;
}

.fa.fa-star:hover {
    cursor: pointer;
    color: #f1c40f;
}

.active-star {
    color: #f1c40f;
}


/***************************************

    #ANIMATIONS

***************************************/

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #03A9F4;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.col {
    display: block;
    float: left;
}

.col:first-child {
    margin-right: 2px;
}

.col.col-1-2 {
    width: calc(50% - 2px);
    height: 100px;
    background-color: #000;
}

.language-select-row {
    background: #03A9F4;
}

.icon {
    position: absolute;
    height: 25px;
    width: 25px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 80px;
    top: 30px;
}

.icon.terran {
    background-image: url("/img/terran.png");
}

.icon.zerg {
    background-image: url("/img/zerg.png");
}

.icon.protoss {
    background-image: url("/img/protoss.png")
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
