*
  box-sizing border-box

.stream
  display grid
  grid-template-columns: 1fr 0.5fr 1fr
  grid-template-areas "username racelogo logo" "description description ."
  grid-template-rows: 35px minmax(40px, 1fr)
  color rgb(224, 224, 224)
  background  #2B2F38
  padding 5px
  font-size: 1em
  border-bottom: 2px solid rgb(224, 224, 224)
  align-items: center
  &:last-child
    border-bottom none


.username
  grid-area username
  font-size 1.1em
  align-self center

.favorite-star
  fill white
  right 0
  cursor pointer
  margin-right: .5em
  &:hover
    fill #f1c40f
  &.active
    fill #f1c40f
  
.stream-logo
  grid-area logo
  align-self center
  justify-self end
  grid-row: 1 / span 2
  width 50px
  height 50px
  background-position center
  background-size cover

.stream-description
  grid-area description
  color: #ffffff
  grid-column: 1 / span 2

.race-image
  grid-area racelogo
  grid-row 1 / span 2
  grid-column 2 / span 3
  justify-self: center
  align-self: center
  margin-left: 5em
  background-position center
  background-size contain
  background-repeat no-repeat
  height 35px
  width 35px  

a
  color #00b6ff
  font-weight bold
  text-decoration none
  &:visited
    color #00b6ff
  &:hover
    color #0288D1