.stream-selector
  display flex
  width 80%
  margin 5px auto
  display: inline-block;
  background-color: #2b2f38;
  color: #00b6ff;
  padding: 10px;
  width: 100%;
  margin-right: 5px;
  outline: 0;
  border: 0;