*
  box-sizing border-box

.stream-list
  display grid
  position relative
  justify-content center
  background  #191919
  border  1px solid #191919
  width 400px
  padding  5px

.no-streams
  color tomato
  text-align center